@model BegeleiderDetailsVM
@{
    ViewBag.Title = "Details begeleider";
    var imageUrl = string.IsNullOrWhiteSpace(Model.FotoUrl) ? "~/Images/profiel.jpg" : Model.FotoUrl;
}
<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <div class="row">
        <img class="col-sm-push-1 col-xs-2 img-responsive" src="@Url.Content(imageUrl)" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HogentEmail)
        <dd>
            @Html.DisplayEmail(Model.HogentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayEmail(Model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gsm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gsm)
        </dd>

        <dt>
            Adres
        </dt>
        <dd>
            @Model.Gemeente @Model.Postcode
        </dd>
        <dd>@Model.Straat </dd>

    </dl>
</div>
<p>

    @if (Model.ToonEdit)
    {
        @Html.ActionLink("Gegevens wijzigen", "Edit", new { Model.Id, Overzicht = ViewHelpers.GetOverzicht() },
            new { @class = "btn btn-default" })
    }
    @if (Model.ToonVerwijderen)
    {
        @Html.ActionLink("Verwijderen", "Delete", new { Model.Id, Overzicht = ViewHelpers.GetOverzicht() },
            new { @class = "btn btn-default" })
    }
</p>
@if (Model.ToonTerugNaarLijst)
{
    <p>
        @Html.OverzichtActionLink()
    </p>
}
