@model BegeleiderDetailsVM
@{
    ViewBag.Title = "Details begeleider";
}
<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <div class="row">@Html.DisplayFoto(Url, Model.Foto)</div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Naam)</dt>
        <dd>@Html.DisplayFor(model => model.Naam)</dd>

        <dt>@Html.DisplayNameFor(model => model.HogentEmail)</dt>
        <dd>@Html.DisplayEmail(Model.HogentEmail)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayEmail(Model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.Gsm)</dt>
        <dd>@Html.DisplayFor(model => model.Gsm)</dd>

        <dt>Adres</dt>
        <dd>@Model.Gemeente @Model.Postcode</dd>
        <dd>@Model.Straat </dd>
    </dl>
</div>
<p>

    @if (Model.ToonEdit)
    {
        @Html.ActionLink("Gegevens wijzigen", "Edit", new { Model.Id, Overzicht = ViewHelpers.GetOverzicht() },
            new { @class = "btn btn-default" })
    }
    @if (Model.ToonVerwijderen)
    {
        @Html.ActionLink("Verwijderen", "Delete", new { Model.Id, Overzicht = ViewHelpers.GetOverzicht() },
            new { @class = "btn btn-default" })
    }
</p>
@if (Model.ToonTerugNaarLijst)
{
    <p>
        @Html.OverzichtActionLink()
    </p>
}
