@model IEnumerable<AcademiejaarInstellingenVM>

@{
    ViewBag.Title = Resources.TitelParametersAcademiejaar;
    var huidigAcademiejaar = AcademiejaarHelper.HuidigAcademiejaar();
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Academiejaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester1Begin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester1Einde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester2Begin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester2Einde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadlineBedrijfStageEdit)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (int.Parse(item.Academiejaar.Substring(0, 4)) >= int.Parse(huidigAcademiejaar.Substring(0, 4)))
                {
                    @Html.ActionLink(item.Academiejaar, "CreateAcadInstellingen", "Instellingen", new { item.Academiejaar }, new { })
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Academiejaar)
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Semester1Begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester1Einde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester2Begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester2Einde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadlineBedrijfStageEdit)
            </td>
        </tr>
    }
</table>
