@model RegisterBedrijfViewModel
@{
    ViewBag.Title = "Nieuw bedrijf";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Bedrijf", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Naam, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Naam, new { @class = "form-control", @autofocus = "" })
            @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <div id="emailDiv" class="text-danger" data-url-edit="/Bedrijf/edit/"
                 data-url-json="/Bedrijf/BedrijfJson?email=" data-class="Bedrijf" data-email-veld="#Email"></div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Website, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gemeente, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Gemeente, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Gemeente, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Postcode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Straat, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Straat, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Straat, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telefoon, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Telefoon, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Telefoon, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bereikbaarheid, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Bereikbaarheid, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Bereikbaarheid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bedrijfsactiviteiten, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Bedrijfsactiviteiten, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Bedrijfsactiviteiten, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Opslaan" class="btn btn-success" />
            @Html.ActionLink("Annuleren", "List", "Bedrijf", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/stagetool-form.js"></script>
    <script src="~/Scripts/createUserObject.js"></script>
}