@model Bedrijf

@{
    ViewBag.Title = "Bedrijfsgegevens";
    var message = TempData["message"];
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="text-success">
        @message
    </div>
    @Html.ActionLink("Gegevens wijzigen", "Edit", new { id = Model.Id })
    @if (User.IsInRole(Role.Bedrijf))
    {
        @Html.Raw("|")
        @Html.ActionLink("Wachtwoord wijzigen", "ChangePassword", "Account")
    }
    else if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Begeleider))
    {
        @Html.Raw("|")
        @Html.ActionLink("Terug naar lijst", "Index", "Bedrijf")
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            Adres
        </dt>
        <dd>
            <a href="https://maps.google.com/?q=@Model.Adres" target="_blank">@Model.Adres</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoonnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bereikbaarheid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bereikbaarheid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrijfsactiviteiten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedrijfsactiviteiten)
        </dd>
    </dl>
    @if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Begeleider))
    {
        <b>@Html.NameFor(model => model.Stageopdrachten)</b>
        <ul>
            @foreach (var stage in Model.Stageopdrachten)
            {
                <li>
                    @Html.ActionLink(stage.Titel, "Details", "Stageopdracht", new { id = stage.Id }, new { })
                </li>
            }
        </ul>
    }

</div>
