@model BedrijfDetailsVM

@{
    ViewBag.Title = "Bedrijfsgegevens";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            E-mail
        </dt>
        <dd>
            @Html.DisplayEmail(Model.Bedrijf.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrijf.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bedrijf.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrijf.Website)
        </dt>
        <dd>
            <a href="@Model.Bedrijf.WebsiteUri" target="_blank">@Model.Bedrijf.WebsiteUri</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrijf.Adres)
        </dt>
        <dd>
            <a href="https://maps.google.com/?q=@Model.Bedrijf.Adres" target="_blank">@Model.Bedrijf.Adres</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrijf.Telefoon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedrijf.Telefoon)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Bedrijf.Bereikbaarheid)</dt>
        <dd class="omschrijving">@Html.DisplayFor(model => model.Bedrijf.Bereikbaarheid)</dd>

        <dt>@Html.DisplayNameFor(model => model.Bedrijf.Bedrijfsactiviteiten)</dt>
        <dd class="omschrijving">@Html.DisplayFor(model => model.Bedrijf.Bedrijfsactiviteiten)</dd>
    </dl>
</div>
@if (Model.ToonExtra)
{
    <ul>
        <li>
            @Html.ActionLink("Contactpersonen", "VanBedrijf", "Contactpersoon", new { bedrijfId = Model.Bedrijf.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Stageopdrachten", "VanBedrijf", "Stageopdracht", new { Model.Bedrijf.Id }, new { })
        </li>
    </ul>
}
@if (Model.ToonChangePassword)
{
    @Html.ActionLink("Wachtwoord wijzigen", "ChangePassword", "Account", new { }, new { @class = "btn btn-default" })
}
@if (Model.ToonEdit)
{
    @Html.ActionLink("Gegevens wijzigen", "Edit", new { Model.Bedrijf.Id, overzicht = ViewHelpers.GetOverzicht() },
        new { @class = "btn btn-default" })
}
@if (Model.ToonTerug)
{
    <p>
        @Html.OverzichtActionLink()
    </p>
}
