@model Bedrijf

@{
    ViewBag.Title = "Bedrijfsgegevens";
    var message = TempData["message"];
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="text-success">
        @message
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            Adres
        </dt>
        <dd>
            @Model.Gemeente @Model.Postcode
        </dd>
        <dd>@Model.Straat @Model.Straatnummer</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoonnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bereikbaarheid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bereikbaarheid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrijfsactiviteiten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedrijfsactiviteiten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Gegevens wijzigen", "Edit")
</p>
<p>
    @Html.ActionLink("Wachtwoord wijzigen", "ChangePassword", "Account")
</p>