@model Bedrijf

@{
    ViewBag.Title = "Bedrijfsgegevens";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (CurrentUser.IsBedrijf())
    {
        @Html.ActionLink("Gegevens wijzigen", "Edit", new { id = Model.Id })
        @Html.Raw("|")
        @Html.ActionLink("Wachtwoord wijzigen", "ChangePassword", "Account")
    }
    else if (CurrentUser.IsAdmin() || CurrentUser.IsBegeleider())
    {
        @Html.ActionLink("Gegevens wijzigen", "Edit", new { id = Model.Id })
        @Html.Raw("|")
        @Html.ActionLink("Terug naar lijst", "List", "Bedrijf")

    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            E-mail
        </dt>
        <dd>
            @Html.DisplayEmail(Model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            <a href="@Model.WebsiteUri" target="_blank">@Model.WebsiteUri</a>
        </dd>

        <dt>
            Adres
        </dt>
        <dd>
            <a href="https://maps.google.com/?q=@Model.Adres" target="_blank">@Model.Adres</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bereikbaarheid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bereikbaarheid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrijfsactiviteiten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedrijfsactiviteiten)
        </dd>
    </dl>
    @if (CurrentUser.IsAdmin() || CurrentUser.IsBegeleider())
    {
        <ul>
            <li>
                @Html.ActionLink("Contactpersonen", "VanBedrijf", "Contactpersoon", new { bedrijfId = Model.Id }, new { })
            </li>
            <li>
                @Html.ActionLink("Stageopdrachten", "VanBedrijf", "Stageopdracht", new { Model.Id }, new { })
            </li>
        </ul>
    }
</div>
