@model EvaluatieCreateVM
@{
    ViewBag.Title = "Evaluatieformulier";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @for (int i = 0; i < Model.Evaluatieantwoorden.Count; i++)
        {
            var antwoord = Model.Evaluatieantwoorden[i];

            switch (antwoord.Evaluatievraag.SoortVraag)
            {
                case SoortVraag.JaNeevraag:

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => antwoord.Id, antwoord.Evaluatievraag.Vraag, new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @if (antwoord.Antwoord == "Ja")
                            {
                                <label class="radio-inline">
                                    <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Ja" checked="checked">Ja
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Nee">Nee
                                </label>
                            }
                            else
                            {
                                <label class="radio-inline">
                                    <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Ja">Ja
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Nee" checked="checked">Nee
                                </label>
                            }
                        </div>
                    </div>

                            break;

                case SoortVraag.Meningvraag:

                            var nogMeerMeningVragen = true;
                            <table class="table-header-rotated">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4"></th>
                                        <th class="rotate"><div><span>Volledig oneens</span></div></th>
                                        <th class="rotate"><div><span>Eerder oneens</span></div></th>
                                        <th class="rotate"><div><span>Noch oneens, noch eens</span></div></th>
                                        <th class="rotate"><div><span>Eerder eens</span></div></th>
                                        <th class="rotate"><div><span>Volledig eens</span></div></th>
                                        <th class="rotate"><div><span>Geen mening</span></div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @while (nogMeerMeningVragen)
                                    {
                                        <tr class="">
                                            <td class="row-header">
                                                @Html.LabelFor(model => antwoord.Id, antwoord.Evaluatievraag.Vraag, new { @class = "" })
                                            </td>
                                            <td class="row-content">
                                                <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Volledig oneens" title="Volledig oneens" />
                                            </td>
                                            <td class="row-content">
                                                <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Eerder oneens" title="Eerder oneens" />
                                            </td>
                                            <td class="row-content">
                                                <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Noch oneens, noch eens" title="Noch oneens, noch eens" />
                                            </td>
                                            <td class="row-content">
                                                <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Eerder eens" title="Eerder eens" />
                                            </td>
                                            <td class="row-content">
                                                <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Volledig eens" title="Volledig eens" />
                                            </td>
                                            <td class="row-content">
                                                <input type="radio" name="@antwoord.Evaluatievraag.Id" value="Geen mening" title="Geen mening" />
                                            </td>
                                        </tr>
                                        if (Model.Evaluatieantwoorden[(i + 1)].Evaluatievraag.SoortVraag == SoortVraag.Meningvraag)
                                        {
                                            i++;
                                            antwoord = Model.Evaluatieantwoorden[i];
                                        }
                                        else
                                        {
                                            nogMeerMeningVragen = false;
                                        }
                                    }
                                </tbody>
                            </table>
                            <br /><br />

                                    break;

                case SoortVraag.Meerkeuzevraag:

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => antwoord.Id, antwoord.Evaluatievraag.Vraag, new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        @{
                            var keuzes = antwoord.Evaluatievraag == null ? null : antwoord.Evaluatievraag.MeerkeuzeAntwoorden.Split(';');
                            var selectList = new SelectList(keuzes);
                        }
                        @Html.DropDownListFor(model => antwoord.Antwoord, selectList)
                    </div>
                </div>
                            break;

                case SoortVraag.Openvraag:
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => antwoord.Id, antwoord.Evaluatievraag.Vraag, new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        <textarea rows="4" cols="50" name="@antwoord.Evaluatievraag.Id">@antwoord.Antwoord</textarea>
                    </div>
                </div>
                            break;
            }
        }
        <div class="col-md-offset-4">
            <input type="submit" value="Opslaan" class="btn btn-success" />
        </div>
    </div>
}

