@model StageopdrachtCreateVM
<hr />
<strong>Stagementor</strong><a id="cancelBtnStM" class="btn" title="Nieuwe stagementor annuleren.">(X)</a>
<hr />
<div class="form-group">
    @Html.LabelFor(model => model.Stagementor.Familienaam, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Stagementor.Familienaam, new { htmlAttributes = new { @class = "form-control", autofocus = "" } })
        @Html.ValidationMessageFor(model => model.Stagementor.Familienaam, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Stagementor.Voornaam, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Stagementor.Voornaam, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Stagementor.Voornaam, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Stagementor.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Stagementor.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Stagementor.Email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Stagementor.Gsm, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Stagementor.Gsm, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Stagementor.Gsm, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Stagementor.Bedrijfsfunctie, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Stagementor.Bedrijfsfunctie, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Stagementor.Bedrijfsfunctie, "", new { @class = "text-danger" })
    </div>
</div>
@Html.Hidden("Stagementor.IsStagementor", true)
<div class="form-group">
    @Html.LabelFor(model => model.Stagementor.IsContractondertekenaar, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.Stagementor.IsContractondertekenaar)
            @Html.ValidationMessageFor(model => model.Stagementor.IsContractondertekenaar, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<hr />
