@model StageopdrachtCreateVM
<hr />
<strong>Contractondertekenaar</strong> <a id="cancelBtnCO" class="btn" title="Nieuwe contractondertekenaar annuleren.">(X)</a>
<hr />
<div class="form-group">
    @Html.LabelFor(model => model.Contractondertekenaar.Familienaam, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Contractondertekenaar.Familienaam, new { htmlAttributes = new { @class = "form-control", autofocus = "" } })
        @Html.ValidationMessageFor(model => model.Contractondertekenaar.Familienaam, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Contractondertekenaar.Voornaam, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Contractondertekenaar.Voornaam, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Contractondertekenaar.Voornaam, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Contractondertekenaar.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Contractondertekenaar.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Contractondertekenaar.Email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Contractondertekenaar.Gsmnummer, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Contractondertekenaar.Gsmnummer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Contractondertekenaar.Gsmnummer, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Contractondertekenaar.Bedrijfsfunctie, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Contractondertekenaar.Bedrijfsfunctie, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Contractondertekenaar.Bedrijfsfunctie, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Contractondertekenaar.IsStagementor, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.Contractondertekenaar.IsStagementor)
            @Html.ValidationMessageFor(model => model.Contractondertekenaar.IsStagementor, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
@Html.Hidden("ContractOndertekenaar.IsContractOndertekenaar", true)
<hr />

