@model StageopdrachtIndexVM

<a id="searchA" class="btn btn-default" style="display:compact">Zoeken</a>
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "searchForm", @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Semester, new { @class = "control-label col-md-1" })
        <div class="col-md-11">
            @Html.DropDownListFor(model => model.Semester, Model.SemesterList, "--Semester--",
                new { @class = "form-control", style = "width:auto" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AantalStudenten, new { @class = "control-label col-md-1" })
        <div class="col-md-11">
            @Html.DropDownListFor(model => model.AantalStudenten, Model.AantalStudentenList, "--aantal studenten--",
                new { @class = "form-control", style = "width:auto" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Specialisatie, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-11">
            @Html.EditorFor(model => model.Specialisatie, new { @class = "form-control" })
        </div>
    </div>
    if (User.IsInRole("bedrijf") == false)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Bedrijf, new { @class = "control-label col-md-1" })
            <div class="col-md-11">
                @Html.EditorFor(model => model.Bedrijf, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Locatie, new { @class = "control-label col-md-1" })
            <div class="col-md-11">
                @Html.EditorFor(model => model.Locatie, new { @class = "form-control" })
            </div>
        </div>
    }
    if (Model.ToonStudenten)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Student, new { @class = "control-label col-md-1" })
            <div class="col-md-11">
                @Html.EditorFor(model => model.Student, new { @class = "form-control" })
            </div>
        </div>
    }
    <div class="col-md-offset-1">
        <button type="submit" class="btn btn-default">Zoeken</button>
    </div>
}
