@model StageopdrachtCreateVM
@{
    ViewBag.Title = "Nieuwe stageopdracht";
    var ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId = "stagementorForm",
        InsertionMode = InsertionMode.Replace
    };
    var ajaxOptions2 = new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId = "contractOndertekenaarForm",
        InsertionMode = InsertionMode.Replace
    };
}
<h2 class="col-md-offset-2">@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Stageopdracht", FormMethod.Post, new { @id = "stageopdrachtForm" }))
{ @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control", @autofocus = "true" } })
                @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Academiejaar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Academiejaar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Academiejaar, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label>
                    @Html.RadioButton("semester", 1, new { htmlAttributes = new { @class = "form-control radio" } })
                    Semester 1
                </label>
                <br />
                <label>
                    @Html.RadioButton("semester", 2, new { htmlAttributes = new { @class = "form-control radio" } })
                    Semester 2
                </label>
                @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AantalStudenten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AantalStudenten,
                 new SelectListItem[] { new SelectListItem() { Value = "1", Text = "1" }, new SelectListItem() { Value = "2", Text = "2" }, new SelectListItem() { Value = "3", Text = "3" } },
                new { @class = "form-control", @style = "max-width:80px" })
                @Html.ValidationMessageFor(model => model.AantalStudenten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gemeente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gemeente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gemeente, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Straat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Straat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Straat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Straatnummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Straatnummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Straatnummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecialisatieId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SpecialisatieId, Model.SpecialisatieSelectList, "-- Selecteer een specialisatie --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SpecialisatieId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div id="stagementorDropdown">
                @Html.LabelFor(model => model.StagementorId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.StagementorId, Model.StagementorsSelectList, "-- Selecteer een stagementor --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StagementorId, "", new { @class = "text-danger" })
                </div>
                @Html.HiddenFor(model => model.StagementorId, new { @id = "StagementorIdHidden" })
                @Ajax.ActionLink("Nieuwe stagementor", "Create", new { IsStagementor = true }, ajaxOptions, new { @class = "btn btn-default", @id = "stagementorBtn" })
            </div>
            <div id="stagementorForm" class="col-md-12">
                @if (Model.Stagementor != null)
                {
                    @Html.Partial("_CreateStagementorForm")
                }
            </div>
        </div>
        <div class="form-group">
            <div id="ContrOndDropdown">
                @Html.LabelFor(model => model.ContractOndertekenaarId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ContractOndertekenaarId, Model.ContractOndertekenaarsSelectList, "-- Selecteer een contractondertekenaar --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContractOndertekenaarId, "", new { @class = "text-danger" })
                </div>
                @Html.HiddenFor(model => model.ContractOndertekenaarId, new { @id = "ContractOndertekenaarIdHidden" })
                @Ajax.ActionLink("Nieuwe Contractondertekenaar", "Create", new { isContractOndertekenaar = true }, ajaxOptions2,
         new { @class = "btn btn-default", @id = "contrOndBtn" })
            </div>
            <div id="contractOndertekenaarForm" class="col-md-12">
                @if (Model.ContractOndertekenaar != null)
                {
                    @Html.Partial("_CreateContractOndertekenaarForm")
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Omschrijving, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Omschrijving, new { htmlAttributes = new { @class = "form-control", rows = 10 } })
                @Html.ValidationMessageFor(model => model.Omschrijving, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Terug naar overzicht", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/lib/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/stagetool-form.js"></script>
    <script src="~/Scripts/createStageForm.js"></script>
}
