@model Stageopdracht

@{
    ViewBag.Title = "Stageopdracht verwijderen";
}

<h3>Deze stageopdracht verwijderen?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalStudenten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalStudenten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Academiejaar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Academiejaar)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-sm-offset-2">
            <input type="submit" value="Verwijderen" class="btn btn-danger" />
            <a href="@ViewBag.Overzicht" class="btn btn-default">Annuleren</a>
        </div>
        <a href="@ViewBag.Overzicht">Terug naar overzicht</a>
    }
</div>
