@model StageopdrachtDetailsVM

@{
    ViewBag.Title = "Details";
    var message = TempData["message"];
}
<h4 class="text-success">
    @message
</h4>
<h2>Details</h2>
<div>
    <h4>Stageopdracht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.AantalStudenten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.AantalStudenten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Academiejaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Academiejaar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Specialisatie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Specialisatie.Naam)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Stageopdracht.Bedrijf) </dt>
        <dd>@Html.DisplayFor(model => model.Stageopdracht.Bedrijf.Naam)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.ContractOndertekenaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.ContractOndertekenaar.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Stagementor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Stagementor.Naam)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Terug naar overzicht", "Index")
    @if (User.IsInRole("bedrijf"))
    {
        @Html.Raw("|")
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Stageopdracht.Id })
    }
    @if (User.IsInRole("bedrijf") && Model.Stageopdracht.IsGoedgekeurd() == false)
    {
        @Html.Raw("|");
        @Html.ActionLink("Verwijderen", "Delete", new { id = Model.Stageopdracht.Id })
    }
    @if (Model.ToonToevoegen)
    {
        @Html.ActionLink("Toevoegen aan mijn voorkeurstages", "ToevoegenAanVoorkeur", "Stageopdracht",
            new { id = Model.Stageopdracht.Id }, new { @class = "btn btn-default", @title = "Toevoegen aan mijn voorkeurstages." })
    }
    @if (Model.ToonVerwijderenBtn)
    {
        @Html.ActionLink("Verwijderen uit mijn voorkeurstages", "VerwijderenUitVoorkeur", "Stageopdracht",
            new { id = Model.Stageopdracht.Id }, new { @class = "btn btn-default", @title = "Verwijderen uit mijn voorkeurstages." })
    }
</p>
