@model StageopdrachtDetailsVM

<h2>Details</h2>
<div>
    <h4>Stageopdracht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Omschrijving)
        </dt>

        <dd style="white-space: pre-line">@Html.DisplayFor(model => model.Stageopdracht.Omschrijving)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Semester)
        </dt>

        <dd style="white-space: pre-line">@Html.DisplayFor(model => model.Semester)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.AantalStudenten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.AantalStudenten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Academiejaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Academiejaar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Specialisatie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Specialisatie)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Stageopdracht.Bedrijf) </dt>
        <dd style="white-space: pre-line">@Html.DisplayFor(model => model.Stageopdracht.Bedrijf.Naam)
        @if (Model.BedrijfHeeftGeldigEmail())
        {
            <a href="mailto:@Model.Stageopdracht.Bedrijf.Email">@Model.Stageopdracht.Bedrijf.Email</a>
        }
        @if (!string.IsNullOrWhiteSpace(@Model.Stageopdracht.Stageplaats))
        {
            <a href="https://maps.google.com/?q=@Model.Stageopdracht.Stageplaats" target="_blank">@Model.Stageopdracht.Stageplaats</a>
        }
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Stageopdracht.Contractondertekenaar)
    </dt>
    <dd>
        @if (Model.Stageopdracht.Contractondertekenaar != null)
        {
            @Html.DisplayFor(model => model.Stageopdracht.Contractondertekenaar.Naam)
            <a href="mailto:@Model.Stageopdracht.Contractondertekenaar.Email"> @Html.DisplayFor(model => model.Stageopdracht.Contractondertekenaar.Email)</a>
            @Html.DisplayFor(model => model.Stageopdracht.Contractondertekenaar.Gsmnummer)
        }
    </dd>
    <dt>
        @Html.NameFor(model => model.Stagementor)
    </dt>
    <dd>
        @if (Model.Stageopdracht.Stagementor != null)
        {
            @Html.DisplayFor(model => model.Stageopdracht.Stagementor.Naam)
            <a href="mailto:@Model.Stageopdracht.Stagementor.Email"> @Html.DisplayFor(model => model.Stageopdracht.Stagementor.Email)</a>
            @Html.DisplayFor(model => model.Stageopdracht.Stagementor.Gsmnummer)
        }
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Stageopdracht.Stagebegeleider)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Stageopdracht.Stagebegeleider.Naam)
    </dd>
    @if (User.IsInRole("admin") || User.IsInRole("begeleider"))
    {
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Studenten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.ToonStudenten)
        </dd>
        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Status)
        </dd>
    }
</dl>



</div>
@if (Model.ToonEdit)
{
    <div class="text-warning">
        @Model.EditDeadline
    </div>
}
<p>
    @Html.ActionLink("Terug naar overzicht", Model.OverzichtAction)
    @if (User.IsInRole(Role.Admin) || Model.ToonEdit)
    {
        @Html.Raw("|")
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Stageopdracht.Id })
    }
    @if (User.IsInRole(Role.Admin) || User.IsInRole("bedrijf") && (Model.Stageopdracht.IsGoedgekeurd() == false))
    {
        @Html.Raw("|")
        @Html.ActionLink("Verwijderen", "Delete", new { id = Model.Stageopdracht.Id })
    }
    @if (Model.ToonToevoegen)
    {
        @Html.ActionLink("Toevoegen aan mijn voorkeurstages", "ToevoegenAanVoorkeur", "Stageopdracht",
            new { id = Model.Stageopdracht.Id }, new { @class = "btn btn-default", @title = "Toevoegen aan mijn voorkeurstages." })
    }
    @if (Model.ToonVerwijderenBtn)
    {
        @Html.ActionLink("Verwijderen uit mijn voorkeurstages", "VerwijderenUitVoorkeur", "Stageopdracht",
            new { ids = Model.Stageopdracht.Id }, new { @class = "btn btn-default", @title = "Verwijderen uit mijn voorkeurstages." })
    }
    @if (Model.ToonAanvraagIndienen)
    {
        @Html.ActionLink("Deze stage begeleiden", "AanvraagIndienen", "Stageopdracht",
            new { id = Model.Stageopdracht.Id }, new { @class = "btn btn-default", @title = "Aanvraag om deze stage te begeleiden indienen" })
    }
    @if (Model.ToonAanvraagAnnuleren)
    {
        @Html.ActionLink("Aanvraag annuleren", "AanvraagAnnuleren", "Stageopdracht",
            new { id = Model.Stageopdracht.Id }, new { @class = "btn btn-default", @title = "Aanvraag om deze stage te begeleiden annuleren" })
    }

    @if (User.IsInRole("admin"))
    {
        @Html.Raw("|")
        @Html.ActionLink("Goedkeuren", "Goedkeuren", new { id = Model.Stageopdracht.Id })
        @Html.Raw("|")
        @Html.ActionLink("Afkeuren", "Afkeuren", new { id = Model.Stageopdracht.Id })
    }
</p>
