@model Stageopdracht

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stageopdracht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalStudenten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalStudenten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Academiejaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Academiejaar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specialisatie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specialisatie.Naam)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Bedrijf) </dt>
        <dd>@Html.DisplayFor(model => model.Bedrijf.Naam)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractOndertekenaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractOndertekenaar.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stagementor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stagementor.Naam)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Terug naar overzicht", "Index")
    @if (User.IsInRole("bedrijf"))
    {
        @Html.Raw("|")
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Id })
    }
    @if (User.IsInRole("bedrijf") && Model.IsGoedgekeurd() == false)
    {
        @Html.Raw("|");
        @Html.ActionLink("Verwijderen", "Delete", new { id = Model.Id })
    }
</p>
