@model StageopdrachtDetailsVM
<div id="details">
    <h3>@Model.Stageopdracht.Titel</h3>
    <div style="white-space: pre-line">@Html.DisplayFor(model => model.Stageopdracht.Omschrijving)</div>
    <hr />
    <h4>Details</h4>
    <dl class="dl-horizontal" style="margin-top:25px;">
        <dt>@Html.DisplayNameFor(model => model.Stageopdracht.Bedrijf) </dt>
        <dd>
            @Html.ActionLink(Model.Stageopdracht.Bedrijf.Naam, "Details", "Bedrijf", new { Model.Stageopdracht.Bedrijf.Id }, new { })
            |
            @if (Model.BedrijfHeeftGeldigEmail())
            {
                <a href="mailto:@Model.Stageopdracht.Bedrijf.Email">@Model.Stageopdracht.Bedrijf.Email</a>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Stageopdracht.Stageplaats)</dt>
        <dd><a href="https://maps.google.com/?q=@Model.Stageopdracht.Stageplaats" target="_blank">@Model.Stageopdracht.Stageplaats</a></dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Semester)
        </dt>

        <dd style="white-space: pre-line">@Html.DisplayFor(model => model.Semester)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Academiejaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Academiejaar)
        </dd>
        <dt>
            Aantal studenten
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.AantalStudenten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Specialisatie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Specialisatie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Contractondertekenaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.ContractondertekenaarNaam)
            <a href="mailto:@Model.Stageopdracht.ContractondertekenaarEmail"> @Html.DisplayFor(model => model.Stageopdracht.ContractondertekenaarEmail)</a>
        </dd>
        <dt>
            @Html.NameFor(model => model.Stagementor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.StagementorNaam)
            <a href="mailto:@Model.Stageopdracht.StagementorEmail"> @Html.DisplayFor(model => model.Stageopdracht.StagementorEmail)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stageopdracht.Stagebegeleider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stageopdracht.Stagebegeleider.Naam)
        </dd>
        @if (Model.ToonStudenten)
        {
            <dt>
                Studenten
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stageopdracht.ToonStudenten)
            </dd>
        }
        @if (Model.ToonStatus)
        {
            <dt>
                Status
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stageopdracht.Status)
            </dd>
        }
    </dl>

    <div>
        @if (Model.ToonBedrijfeditDeadline)
        {
            <div class="text-warning">
                @Model.EditDeadline
            </div>
        }
        <p>
            @if (Model.ToonEdit)
            {
                @Html.ActionLink("Aanpassen", "Edit", new { Model.Stageopdracht.Id }, new { @class = "btn btn-default" })
            }
            @if (Model.ToonVerwijderen)
            {
                @Html.ActionLink("Verwijderen", "Delete", new { Model.Stageopdracht.Id }, new { @class = "btn btn-default" })
            }
            @if (Model.ToonVoorkeurToevoegen)
            {
                @Html.ActionLink("Toevoegen aan mijn voorkeurstages", "ToevoegenAanVoorkeur", "Stageopdracht",
                    new { Model.Stageopdracht.Id }, new { @class = "btn btn-default", @title = "Toevoegen aan mijn voorkeurstages" })
            }
            @if (Model.ToonVoorkeurVerwijderen)
            {
                @Html.ActionLink("Verwijderen uit mijn voorkeurstages", "VerwijderenUitVoorkeur", "Stageopdracht",
                    new { Model.Stageopdracht.Id }, new { @class = "btn btn-default", @title = "Verwijderen uit mijn voorkeurstages" })
            }
            @if (Model.ToonAanvraagIndienen)
            {
                @Html.ActionLink("Deze stage begeleiden", "AanvraagIndienen", "Stageopdracht",
                    new { Model.Stageopdracht.Id, overzicht = Model.OverzichtAction },
                    new { @class = "btn btn-default", @title = "Aanvraag om deze stage te begeleiden indienen" })
            }
            @if (Model.ToonAanvraagAnnuleren)
            {
                @Html.ActionLink("Aanvraag annuleren", "AanvraagAnnuleren", "Stageopdracht",
                    new { Model.Stageopdracht.Id, overzicht = Model.OverzichtAction },
                    new { @class = "btn btn-default", @title = "Aanvraag om deze stage te begeleiden annuleren" })
            }

            @if (Model.ToonOordelen)
            {
                @Html.ActionLink("Goedkeuren", "StageopdrachtGoedkeuren", new { Model.Stageopdracht.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Afkeuren", "StageopdrachtAfkeuren", new { Model.Stageopdracht.Id }, new { @class = "btn btn-default" })
            }
        </p>
    </div>
    @Html.ActionLink("Terug naar overzicht", Model.OverzichtAction, new { }, new { })
</div>
