@model StageopdrachtIndexVM
@{
    ViewBag.Title = "Stageopdrachten";
    var message = TempData["message"];
}

<h2>@ViewBag.Title</h2>
<p class="text-success">
    @message
</p>
@if (!User.IsInRole("bedrijf"))
{
    <a id="searchA" class="btn btn-default" hidden="hidden">Zoeken</a>
    using (Html.BeginForm("Index", "Stageopdracht", new { }, FormMethod.Get, new { id = "searchForm" }))
    {
        <div class="form-group">
            Semester
            @Html.DropDownListFor(model => model.Semester, Model.SemesterList, "--Semester--")
        </div>
        <div class="form-group">
            Soort stage
            @Html.EditorFor(model => model.Soort)
        </div>
        <div class="form-group">
            Bedrijf
            @Html.EditorFor(model => model.Bedrijf)
        </div>
        <div class="form-group">
            Locatie
            @Html.EditorFor(model => model.Locatie)
        </div>
        <button type="submit" class="btn btn-default">Zoeken</button>
    }
}
@if (User.IsInRole("bedrijf"))
{
    <p>
        @Html.ActionLink("Nieuwe stageopdracht aanmaken", "Create")
    </p>
}
@Html.Grid(Model.Stageopdrachten).Columns(columns =>
{
    columns.Add(so => so.Titel).Titled("Titel")
        .Encoded(false).Sanitized(false)
        .RenderValueAs(so => Html.ActionLink(so.Titel, "Details", new { id = so.Id }));
    columns.Add(so => so.ToonSpecialisatie).Titled("Specialisatie");
    columns.Add(so => so.Semester).Titled("Semester");
    columns.Add(so => so.Academiejaar);
    columns.Add(so => so.AantalToegewezenStudenten).Titled("Aantal studenten").RenderValueAs(so => so.AantalToegewezenStudenten + "/" + so.AantalStudenten);
    columns.Add(so => so.Bedrijf.Naam).Titled("Bedrijf");
    columns.Add(so => so.Bedrijf.Gemeente).Titled("Locatie");
}).WithPaging(5).Sortable()


@section scripts{
    <script type="text/javascript">
        $(function () {
            $inputs = $("#searchForm input, #searchForm select");
            var emptyInputs = $inputs.filter(function () {
                return !$(this).val();
            }).length;
            if (emptyInputs == $inputs.length) {
                $("#searchForm").attr("hidden", "hidden");
            }
            else {
                $("#searchA").remove();
            }
            $("#searchA").on("click", function () {
                $("#searchForm").removeAttr("hidden");
                $("#searchA").remove();
            });
        });
    </script>
}