@model StageopdrachtLijstExcelVM

@{
    ViewBag.Title = Resources.TitelLijstenExporterenExcel;

}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4>Criteria</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedAcademiejaar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedAcademiejaar, Model.AcademiejaarSelectList, "-- Academiejaar --",
                    new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedStagebegeleiderId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedStagebegeleiderId, Model.StagebegeleiderSelectList, "-- Stagebegeleider --",
                    new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedStatus, Model.StatusSelectList, "-- Status --",
                    new { @class = "form-control" })
            </div>
        </div>

        <hr />
        <h4>Kolommen</h4>
        <div class="form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Titel)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Omschrijving, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Omschrijving)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Stageplaats, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Stageplaats)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bedrijfsnaam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Bedrijfsnaam)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bedrijfsadres, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Bedrijfsadres)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Begeleider, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Begeleider)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Studenten, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Studenten)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Status)
                    </div>
                </div>
            </div>

            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.TabbladNaam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TabbladNaam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TabbladNaam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bestandsnaam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bestandsnaam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bestandsnaam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Genereer" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/stagetool-form.js"></script>
}
