@model AccountListVM

@{
    ViewBag.Title = Resources.TitelOverzichtAppUsers;
}
<div id="result"></div>
<h2 id="titel">@ViewBag.Title</h2>

@if (Model.ToonActies)
{
    <p>
        @Html.ActionLink("Nieuw account aanmaken", "Create")
    </p>
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "searchForm", @class = "form-inline myBorder" }))
{
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.IsAdmin)
            Admin
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.IsBegeleider)
            Begeleider
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.IsBedrijf)
            Bedrijf
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.IsStudent)
            Student
        </label>
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.LoginZoeken, "", new { placeholder = "E-mailadres", autofocus = "autofocus" })
    </div>
    <button type="submit" class="btn btn-default" id="zoekenSubmit">Zoeken</button>
}

@Html.Partial("_UserList")

@section scripts
{
    <script src="~/Scripts/stagetool-list.js"></script>
    <script src="~/Scripts/account-list.js"></script>
}
