@model Stageopdracht

@{
    ViewBag.Title = "Stagedossier als ingediend aanduiden";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <h4>Stageopdracht</h4>
    <dl class="dl-horizontal" style="margin-top:25px;">
        <dt>
            @Html.NameFor(model => model.Titel)
        </dt>
        <dd>@Html.DisplayFor(model => model.Titel)</dd>

        <dt>
            @Html.NameFor(model => model.Omschrijving)
        </dt>
        <dd class="omschrijving">@Html.DisplayFor(model => model.Omschrijving)</dd>

        <dt>@Html.DisplayNameFor(model => model.Bedrijf) </dt>
        <dd>
            @Html.ActionLink(Model.Bedrijf.Naam, "Details", "Bedrijf", new { Model.Bedrijf.Id }, new { })
            |
            @if (Model.Bedrijf.HeeftGeldigEmail())
            {
                @Html.DisplayEmail(Model.Bedrijf.Email)
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Stageplaats)</dt>
        <dd><a href="https://maps.google.com/?q=@Model.Stageplaats" target="_blank">@Model.Stageplaats</a></dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd style="white-space: pre-line">@Html.DisplayFor(model => model.Semester)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Academiejaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Academiejaar)
        </dd>

        <dt>
            Aantal studenten
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AantalStudenten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialisatie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specialisatie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractondertekenaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractondertekenaarNaam)
            @Html.DisplayEmail(Model.ContractondertekenaarEmail)
        </dd>

        <dt>@Html.NameFor(model => model.Stagementor)</dt>
        <dd>
            @Html.DisplayFor(model => model.StagementorNaam)
            @Html.DisplayEmail(Model.StagementorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stagebegeleider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stagebegeleider.Naam)
        </dd>
    </dl>
    <hr />
    <p>
        Door op opslaan te klikken geeft u aan een stagedossier ingediend te hebben bij de stage administratie.
        (eventuele richtlijnen hier plaatsen?)
    </p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <button type="submit" class="btn btn-success">Opslaan</button>
        @Html.ActionLink("Annuleren", "MijnVoorkeurStages", "Stageopdracht", new { }, new { @class = "btn btn-default" })
    }
</div>
