@model StageDetailsVM
@{
    ViewBag.Title = "Details stage";
    var overzicht = ViewHelpers.GetOverzicht();
}

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal panel">
        <dt>
            @Html.DisplayNameFor(model => model.Stage.Student)
        </dt>
        <dd>
            @Html.ActionLink(Model.Stage.Student.Naam, "Details", "Student",
                new { Model.Stage.Student.Id, overzicht }, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage.Stageopdracht)
        </dt>
        <dd>
            @Html.ActionLink(Model.Stage.Stageopdracht.Titel, "Details", "Stageopdracht",
                new { Model.Stage.Stageopdracht.Id, overzicht }, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage.Bedrijf)
        </dt>
        <dd>
            @Html.ActionLink(Model.Stage.Bedrijf.Naam, "Details", "Bedrijf",
                new { Model.Stage.Bedrijf.Id, overzicht }, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage.Begeleider)
        </dt>
        <dd>
            @if (Model.Stage.Begeleider != null)
            {
                @Html.ActionLink(Model.Stage.Begeleider.Naam, "Details", "Begeleider",
                    new { Model.Stage.Begeleider.Id, overzicht }, new { })
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage.Semester)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stage.Semester)
        </dd>

        <dt>Aangepaste stageperiode</dt>
        <dd>
            @Html.DisplayFor(model => model.Stage.AangepasteStageperiode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Begindatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Begindatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Einddatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Einddatum)
        </dd>

        <dt>
            Stagecontract opgesteld
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stage.StagecontractOpgesteld)
        </dd>
        <dt>
            Getekend stagecontract
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stage.GetekendStagecontract)
        </dd>
    </dl>
</div>
<p>
    @if (Model.ToonEdit)
    {
        @Html.ActionLink("Wijzigen", "Edit", "Stage", new { Model.Stage.Id, overzicht }, new { @class = "btn btn-default" })
    }
    @if (Model.ToonVerwijderen)
    {
        @Html.ActionLink("Verwijderen", "Delete", "Stage", new { Model.Stage.Id, overzicht }, new { @class = "btn btn-default" })
    }
</p>
<p>
    @Html.OverzichtActionLink()
</p>

@section styles{
    <style>
        .dl-horizontal dt {
            white-space: normal;
            width: 200px;
            margin-right: 20px;
        }

        dd {
            margin-left: 20px;
        }
    </style>
}