<li class="dropdown nav">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Stageopdrachten  @AcademiejaarHelper.HuidigAcademiejaar()
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink(Resources.TitelNieuweStageopdracht, "Create", "Stageopdracht")</li>
        <li class="divider"></li>
        <li>@Html.ActionLink(Resources.TitelBedrijfStageVoorstellen, "BedrijfStageVoorstellen", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelGoedgekeurdeStageopdrachten, "GoedgekeurdeStages", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelAfgekeurdeStageopdrachten, "AfgekeurdeStages", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelBeschikbareStages + " voor studenten", "BeschikbareStages", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelToegewezenStagesZonderBegeleider, "ToegewezenStagesZonderBegeleider", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelToegewezenStages, "ToegewezenStages", "Stageopdracht") </li>
        <li class="divider"></li>
        <li>@Html.ActionLink(Resources.TitelAanvragenStagebegeleiding, "AanvragenStagebegeleiding", "Stageopdracht")  </li>
        <li>@Html.ActionLink(Resources.TitelLijstenExporterenExcel, "LijstExcel", "Stageopdracht")  </li>
    </ul>
</li>
<li class="dropdown nav">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Bedrijven
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation">
            @Html.ActionLink(Resources.TitelNieuwBedrijf, "Create", "Bedrijf")
        </li>
        <li role="presentation">
            @Html.ActionLink(Resources.TitelBedrijvenIndex, "Index", "Bedrijf")
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
            @Html.ActionLink(Resources.TitelNieuwContactpersoon, "Create", "Contactpersoon")
        </li>
        <li role="presentation">
            @Html.ActionLink(Resources.TitelContactpersoonIndex, "Index", "Contactpersoon")
        </li>
    </ul>
</li>
<li class="dropdown nav">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Studenten
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            @Html.ActionLink("Nieuwe student", "Create", "Student")
        </li>
        <li>
            @Html.ActionLink("Studenten", "Index", "Student")
        </li>
        <li>
            @Html.ActionLink("Studenten met ingediend stagedossier", "MetIngediendStagedossier", "Stageopdracht")
        </li>
        <li>
            @Html.ActionLink("Studenten met stage", "MetToegewezenStage", "Student")
        </li>
    </ul>
</li>
<li class="dropdown nav">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Begeleiders
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            @Html.ActionLink("Nieuwe begeleider", "Create", "Begeleider")
        </li>
        <li>
            @Html.ActionLink("Begeleiders", "Index", "Begeleider")
        </li>
    </ul>
</li>
<li class="nav">
    @Html.ActionLink("Gebruikers", "Index", "Account")
</li>
<li class="dropdown nav" role="presentation">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Instellingen
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="nav" role="presentation">
            @Html.ActionLink(Resources.TitelParametersAcademiejaar, "Index", "Academiejaar")
        </li>
        <li class="nav" role="presentation">
            @Html.ActionLink(Resources.TitelAdminIndex, "Index", "Admin")
        </li>
    </ul>
</li>
<li class="nav">@Html.ActionLink("Archief", "Archief", "Stageopdracht", new { }, new { role = "menuitem" })</li>
