@using StageBeheersTool.Helpers
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Stageopdrachten @(AcademiejaarHelper.HuidigAcademiejaar())
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("Alle stages ", "Index", "Stageopdracht", new { }, new { role = "menuitem" })</li>
        <li>@Html.ActionLink("Stages zonder begeleider", "GoedgekeurdeStages", "Stageopdracht", new { }, new { role = "menuitem" }) </li>
        <li>@Html.ActionLink("Aanvragen begeleiding", "AanvragenBegeleider", "Stageopdracht", new { }, new { role = "menuitem" })</li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Mijn Stages
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink(AcademiejaarHelper.HuidigAcademiejaar(), "MijnStages", "Stageopdracht", new { }, new { role = "menuitem" })</li>
        <li>@Html.ActionLink("Per academiejaar", "MijnArchief", "Stageopdracht", new { }, new { role = "menuitem" })</li>
    </ul>
</li>
<li>@Html.ActionLink("Archief", "Archief", "Stageopdracht", new { }, new { role = "menuitem" })</li>
