<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Stageopdrachten @(AcademiejaarHelper.HuidigAcademiejaar())
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink(Resources.TitelBedrijfStageVoorstellen, "BedrijfStageVoorstellen", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelGoedgekeurdeStageopdrachten, "GoedgekeurdeStages", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelAfgekeurdeStageopdrachten, "AfgekeurdeStages", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelBeschikbareStages + " voor studenten", "BeschikbareStages", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelToegewezenStagesZonderBegeleider, "ToegewezenStagesZonderBegeleider", "Stageopdracht") </li>
        <li>@Html.ActionLink(Resources.TitelToegewezenStages, "ToegewezenStages", "Stageopdracht") </li>
        <li class="divider"></li>
        <li>@Html.ActionLink(Resources.TitelMijnAanvragenStagebegeleiding, "MijnAanvragenStagebegeleiding", "Stageopdracht")  </li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Mijn Stages
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink(AcademiejaarHelper.HuidigAcademiejaar(), "MijnStages", "Stageopdracht", new { }, new { role = "menuitem" })</li>
        <li>@Html.ActionLink("Per academiejaar", "MijnArchief", "Stageopdracht", new { }, new { role = "menuitem" })</li>
    </ul>
</li>
<li>@Html.ActionLink("Archief", "Archief", "Stageopdracht", new { }, new { role = "menuitem" })</li>
