<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="" />
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("STAGE PLATFORM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (CurrentUser.IsBedrijf())
                    {
                        @Html.Partial("_BedrijfHeader")
                    }
                    else if (CurrentUser.IsStudent())
                    {
                        @Html.Partial("_StudentHeader")
                    }
                    else if (CurrentUser.IsBegeleiderEnAdmin())
                    {
                        if (IdentityHelpers.GetMode() == Role.Admin)
                        {
                            @Html.Partial("_AdminHeader")
                        }
                        else if (IdentityHelpers.GetMode() == Role.Begeleider)
                        {
                            @Html.Partial("_BegeleiderHeader")
                        }
                    }
                    else if (CurrentUser.IsAdmin())
                    {
                        @Html.Partial("_AdminHeader")
                    }
                    else if (CurrentUser.IsBegeleider())
                    {
                        @Html.Partial("_BegeleiderHeader")
                    }
                  
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" id="messageId">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["message"]
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["error"]
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hogeschool Gent - Faculteit Bedrijf en Organisatie - Toegepaste Informatica</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/stagetool.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>