<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("STAGE PLATFORM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("bedrijf"))
                    {
                        <li>@Html.ActionLink("Stageopdrachten", "Index", "Stageopdracht")</li>
                        <li>@Html.ActionLink("Contactpersonen", "Index", "Contactpersoon")</li>
                    }
                    else if (User.IsInRole("student"))
                    {
                        <li>@Html.ActionLink("Stageopdrachten", "Index", "Stageopdracht")</li>
                        <li>@Html.ActionLink("voorkeurstages", "MijnVoorkeurStages", "Stageopdracht")</li>
                    }
                    else if (User.IsInRole("admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                Stageopdrachten
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Stageopdrachten", "Index", "Stageopdracht", new { }, new { role = "menuitem" })</li>
                                <li>@Html.ActionLink("stageopdracht voorstellen", "Voorstellen", "Stageopdracht", new { }, new { role = "menuitem" }) </li>
                                <li>@Html.ActionLink("begeleider aanvragen", "aanvragen", "Stageopdracht", new { }, new { role = "menuItem" })  </li>
                            </ul>
                        </li>
                    }
                    else if (User.IsInRole("begeleider"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                Stageopdrachten
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Stageopdrachten", "Index", "Stageopdracht", new { }, new { role = "menuitem" })</li>
                                <li>@Html.ActionLink("Goedgekeurde stages", "GoedgekeurdeStages", "Stageopdracht", new { }, new { role = "menuitem" }) </li>
                                <li>@Html.ActionLink("Aanvragen begeleider", "AanvragenBegeleider", "Stageopdracht", new { }, new { role = "menuitem" })</li>
                            </ul>
                        </li>
                    }
                    else if (User.IsInRole("admin") && User.IsInRole("begeleider"))
                    {

                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hogeschool Gent - Faculteit Bedrijf en Organisatie - Toegepaste Informatica</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
