@using StageBeheersTool.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (User.IsInRole("student"))
                {
                    @Html.ActionLink(IdentityHelpers.GetDisplayName(), "Details", "Student")
                }
                else if (User.IsInRole("bedrijf"))
                {
                    @Html.ActionLink(IdentityHelpers.GetDisplayName(), "Details", "Bedrijf")
                }
                else if (CurrentUser.IsAdmin() && CurrentUser.IsBegeleider())
                {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span class="caret"></span>
                        @IdentityHelpers.GetDisplayName()
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink("Persoonlijke gegevens", "Details", "Begeleider")
                        </li>
                        <li>
                            @Html.ActionLink("Admin mode", "SwitchLoginMode", "Account", new { mode = Role.Admin }, new { })
                        </li>
                        <li>
                            @Html.ActionLink("Begeleider mode", "SwitchLoginMode", "Account", new { mode = Role.Begeleider }, new { })
                        </li>
                    </ul>
                </li>
                }
                else if (User.IsInRole("begeleider"))
                {
                    @Html.ActionLink(IdentityHelpers.GetDisplayName(), "Details", "Begeleider")
                }
                else if (User.IsInRole("admin"))
                {
                    @Html.ActionLink(IdentityHelpers.GetDisplayName(), "", "")
                }
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Afmelden</a></li>
            </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Nieuwe stagebedrijven", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Aanmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
