@model IList<AdminVm>

@{
    ViewBag.Title = "Rechten administrator";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <table class="table table-striped" id="AdminTable">
        <tr>
            <th>@Html.NameFor(model => model.FirstOrDefault().Email)</th>
            <th>Admin</th>
            <th></th>
        </tr>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td class="col-md-1">
                        @Html.DisplayFor(model => model[i].Email)
                    </td>
                    <td class="col-md-3">
                        @Html.EditorFor(model => model[i].IsAdmin)
                    </td>
                    @Html.HiddenFor(model => model[i].Id)
                    @Html.HiddenFor(model => model[i].HasChanged)
                    <td class="col-md-8">
                        @Html.ActionLink("Verwijderen", "Delete", new { Model[i].Email })
                    </td>
                </tr>

            }
            <tr id="addButtonRow">
                <td>
                    <button value="+" id="addButton" title="Nieuwe admin">+</button>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Opslaan">
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("input[type='checkbox'][name$='.IsAdmin'").each(function () {
                var $self = $(this);
                $self.change(function () {
                    var name = $self.attr("name");
                    var index = name.substring(1, name.indexOf("]"));
                    $("input[type='hidden'][name='[" + index + "].HasChanged']").val(true);
                });
            });

            $("input[type='hidden'][name$='.HasChanged']").each(function () {
                $(this).val(false);
            });

            $("#addButton").click(function () {
                var index = $("#AdminTable tbody tr").length - 2;
                $('#AdminTable tr:last').before(
                    '<tr><td class="col-md-1">' +
                    '<input type="email" name="[' + index + '].Email" class="text-box single-line" ' +
                    'data-val="true" data-val-email="Het veld E-mail is geen geldig e-mailadres."/></td>' +
                    '<td class="col-md-3"><input type="checkbox" value="true" checked name="[' + index + '].IsAdmin"/></td>' +
                    '<td> <input name="['+index+'].HasChanged" type="hidden" value="True" /></td></tr>');
                return false;
            });
        });
    </script>
}
